.bigTitle{
	color:Orange;
}

.imageCarousel{
	position:relative;
}

img, .renderImage{
	width:100% !important;
	height:100% !important;
}

.imageContainer{
	height:50%;
}

.imageContainer2{
	height:400px;
	width:400px;
}

.imageArizona{
	width:100%;
	height:100%;
}


#btnRead{
	background-color:Orange;
	position:absolute;
	right:5%;
	bottom:5%;
}

#btnContact, #btnSubmit, #btnCancel{
	background-color:Orange;
}

.pTitle{
	font-weight:bold; 
	color:orange;
}

.modal-content{
	background-color:#ffe6cc;
}

.containerPage{
	margin-left:5% !important;
	margin-right:5% !important;
	margin-bottom:5% !important;
	margin-top:2% !important;
}

li.arrows{
	display:block !important;
}